.App {
  font-family: 'Black Ops One', cursive;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.opponent-board-container {
  width: 342px;
  display: flex;
  flex-wrap: wrap;
}

.opponent-box-container {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: green;
  border: 2px solid black;
}

.opponent-box-container:hover {
  background-color: green;
  opacity: 0.5;
}

.opponent-box-container:active {
  background-color: red;
}

.player-board-container {
  width: 342px;
  display: flex;
  flex-wrap: wrap;
}

.player-box-container {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: green;
  border: 2px solid black;
}

