.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../battleship.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Black Ops One', cursive;
  box-sizing: content-box;
}

.title {
  font-size: 45px;
  text-align: center;
  width: 100%;
  height: 5%;
  color: #6B8E23;
  text-shadow: 2px 2px #B22222;
}

.boards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-title {
  color: #6B8E23;
  text-shadow: 2px 2px #B22222;
}

.opponent-board-container {
  width: 324px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.opponent-box-container {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: green;
  border: 2px solid black;
}

.opponent-box-container:hover {
  background-color: green;
  opacity: 0.5;
  cursor: pointer;
}

.opponent-box-container:active {
  background-color: red;
}

.opponent-box-container-hit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: red;
  border: 2px solid black;
}

.opponent-box-container-miss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 2px solid black;
}

.ship-select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 20%;
}

.ship-select-text {
  font-size: 28px;
  color: #6B8E23;
  text-shadow: 2px 2px #B22222;
}

.ship-select-container-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-input-container {
  width: 55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-button {
  font-size: 1em;
  font-weight: bold;
  color: #6B8E23;
}

.restart-button-hide {
  visibility: hidden;
  display: flex;
  width: 25%;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
}

.restart-button-show {
  display: flex;
  width: 25%;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  color: #6B8E23;
}

.ship-select-title {
  text-align: center;
  width: 100%;
  height: 20%;
  color: #6B8E23;
  text-shadow: 2px 2px #B22222;
}

.player-board-container {
  width: 342px;
  display: flex;
  flex-wrap: wrap;
}

.player-box-container {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: green;
  border: 2px solid black;
}

.player-box-container-hit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: red;
  border: 2px solid black;
}

.player-box-container-miss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: yellow;
  border: 2px solid black;
}

.player-box-container-has-ship {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 2px solid black;
}
